::webkit-scrollbar{
  width: 20px;
}
::webkit-scrollbar-track{
  background-color: transparent;
}
::webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}
:root{
  --primary: #f47d38;
}

.vfrc-header, .c-iCDrnV{
  background-color: black;
  color: white;
  margin: 7px;
  border-radius: 8px;
}
.c-ealvbK, .vfrc-chat{
  background-color: var(--primary) !important;
}
