:root{
  --primary: #f47d38;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: transparent;
  padding-right: 7px;
}
::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 10px;
  width: 5px;
}
.vfrc-header, .c-iCDrnV{
  background-color: black;
  color: white;
  margin: 7px;
  border-radius: 8px;
}
.c-ealvbK, .vfrc-chat{
  background-color: var(--primary) !important;
}
