:root{
  --primary: #f47d38;
}
::-webkit-scrollbar{
  width: 19px;
}
::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 6px;
  border: 7px solid #f47d38;
  width: 12px;
}
.vfrc-header, .c-iCDrnV{
  background-color: black;
  color: white;
  margin: 7px;
  border-radius: 8px;
}
.c-ealvbK, .vfrc-chat{
  background-color: var(--primary) !important;
}
.vfrc-chat-input{
  filter: drop-shadow(0px 0px 25px black);
}
.vfrc-footer, .c-kbCYVp, .c-kbCYVp-lbvmyx-withWatermark-true{
  padding-top: 0;
  height: 80px;
}
